<div
  class="surface-50 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none"
>
  <div
    class="grid grid-nogutter flex-wrap -mr-3 -ml-3 text-center md:text-left"
  >
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Company</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >About Peak</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Factories</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Careers</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Environmental Initiatives</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Cuenta</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Manage Account</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Saved Items</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >My Cart</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Wishlist</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Orders & Returns</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none lg:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Epysa</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Epysa Buses</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Epysa Equipos</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Servi Bus</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Filtrans</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Mundo LCV</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Bus Market</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Implementos Perú</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Implementos España</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Mercobus</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 mb-4 lg:mb-0"
    >
      <span class="text-900 text-xl block">Suscríbete</span>
      <span class="text-500 block mt-4 line-height-3">
        Únete a nuestra comunidad para recibir las últimas ofertas y
        promociones.</span
      >

      <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width: 30rem">
        <p-inputGroup>
          <input type="text" pInputText placeholder="Ingresa tu correo" />
          <button
            type="button"
            pButton
            icon="pi pi-arrow-right"
            class="text-500 surface-100 surface-border"
          ></button>
        </p-inputGroup>
      </div>
    </div>
  </div>
</div>
<div
  class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center"
>
  <div
    class="col-fixed flex justify-content-center md:justify-content-start flex-wrap flex-order-1 lg:flex-order-0"
  >
    <img
      src="assets/images/credit-cards/storefront-1-21.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Amex"
    />
    <img
      src="assets/images/credit-cards/storefront-1-22.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Apple Pay"
    />
    <img
      src="assets/images/credit-cards/storefront-1-23.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Mastercard"
    />
    <img
      src="assets/images/credit-cards/storefront-1-25.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Visa"
    />
    <img
      src="assets/images/credit-cards/storefront-1-24.svg"
      class="w-3rem mb-3 md:mb-0"
      alt="PayPal"
    />
  </div>
  <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
    <a tabindex="0" class="cursor-pointer mr-3">
      <i
        class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"
      ></i>
    </a>
    <a tabindex="0" class="cursor-pointer mr-3">
      <i
        class="pi pi-instagram surface-900 p-1 text-sm border-circle text-0"
      ></i>
    </a>
    <a tabindex="0" class="cursor-pointer mr-3">
      <i
        class="pi pi-linkedin surface-900 p-1 text-sm border-circle text-0"
      ></i>
    </a>
  </div>
</div>
