<div class="surface-section grid grid-nogutter">
  <div class="col-12 lg:col-6" style="min-height: 60rem">
    <div class="grid grid-nogutter h-full">
      <div
        class="col-12 lg:col-6 bg-no-repeat bg-center bg-cover p-4 flex flex-column align-items-start justify-content-end"
        style="background: url(assets/images/home/storefront-1-9.png)"
      >
        <span class="text-white block text-2xl font-bold mb-2"
          >Control de carga</span
        >
        <a
          tabindex="0"
          pRipple
          class="text-white font-medium cursor-pointer p-2 flex align-items-center border-round lg:-ml-1"
          >Comprar <i class="pi pi-arrow-right ml-2"></i
        ></a>
      </div>
      <div
        class="col-12 lg:col-6 bg-no-repeat bg-center bg-cover p-4 flex flex-column lg:align-items-end justify-content-end"
        style="background: url(assets/images/home/storefront-1-12.png)"
      >
        <span class="text-white block text-2xl font-bold mb-2"
          >Llantas y neumáticos</span
        >
        <a
          tabindex="0"
          pRipple
          class="text-white font-medium cursor-pointer p-2 flex align-items-center border-round"
          >Comprar <i class="pi pi-arrow-right ml-2"></i
        ></a>
      </div>
      <div
        class="col-12 lg:col-6 bg-no-repeat bg-center bg-cover p-4 flex flex-column align-items-start justify-content-end"
        style="background: url(assets/images/home/storefront-1-13.png)"
      >
        <span class="text-white block text-2xl font-bold mb-2"
          >Lubricantes</span
        >
        <a
          tabindex="0"
          pRipple
          class="text-white font-medium cursor-pointer p-2 flex align-items-center border-round lg:-ml-1"
          >Comprar <i class="pi pi-arrow-right ml-2"></i
        ></a>
      </div>
      <div
        class="col-12 lg:col-6 bg-no-repeat bg-center bg-cover p-4 flex flex-column lg:align-items-end justify-content-end"
        style="background: url(assets/images/home/storefront-1-10.png)"
      >
        <span class="text-white block text-2xl font-bold mb-2"
          >Refrigerantes</span
        >
        <a
          tabindex="0"
          pRipple
          class="text-white font-medium cursor-pointer p-2 flex align-items-center border-round"
          >Comprar <i class="pi pi-arrow-right ml-2"></i
        ></a>
      </div>
    </div>
  </div>
  <div
    class="col-12 lg:col-6 bg-no-repeat bg-center bg-cover p-4 flex flex-column align-items-start justify-content-end lg:justify-content-start"
    style="
      background: url(assets/images/home/storefront-1-11.png);
      min-height: 60rem;
    "
  >
    <span class="text-white block text-2xl font-bold mb-2">Seguridad vial</span>
    <a
      tabindex="0"
      pRipple
      class="text-white font-medium cursor-pointer p-2 flex align-items-center border-round lg:-ml-1"
      >Comprar <i class="pi pi-arrow-right ml-2"></i
    ></a>
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <div
      class="col-12 md:col-4 flex flex-column align-items-center mb-3 md:mb-0"
    >
      <span
        class="inline-flex align-items-center justify-content-center bg-blue-500 border-circle w-3rem h-3rem mb-4"
      >
        <i class="pi pi-arrow-right text-white text-2xl"></i>
      </span>
      <span class="text-900 text-xl font-medium mb-4"
        >Pay Later in 30 Days</span
      >
      <p class="text-600 line-height-3 py-0 m-0 px-3">
        Ullamcorper sit amet risus nullam eget felis eget nunc.
      </p>
    </div>
    <div
      class="col-12 md:col-4 flex flex-column align-items-center mb-3 md:mb-0"
    >
      <span
        class="inline-flex align-items-center justify-content-center bg-cyan-500 border-circle w-3rem h-3rem mb-4"
      >
        <i class="pi pi-shopping-cart text-white text-2xl"></i>
      </span>
      <span class="text-900 text-xl font-medium mb-4">Free Shipping</span>
      <p class="text-600 line-height-3 py-0 m-0 px-3">
        Ullamcorper sit amet risus nullam eget felis eget nunc.
      </p>
    </div>
    <div class="col-12 md:col-4 flex flex-column align-items-center">
      <span
        class="inline-flex align-items-center justify-content-center bg-orange-500 border-circle w-3rem h-3rem mb-4"
      >
        <i class="pi pi-shield text-white text-2xl"></i>
      </span>
      <span class="text-900 text-xl font-medium mb-4">Secure Payment</span>
      <p class="text-600 line-height-3 py-0 m-0 px-3">
        Ullamcorper sit amet risus nullam eget felis eget nunc.
      </p>
    </div>
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid grid-nogutter -ml-3 -mr-3">
    <div class="col-12 lg:col-6 p-3">
      <div
        class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover bg-center"
        style="
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.3),
              rgba(0, 0, 0, 0.3)
            ),
            url(assets/images/home/storefront-1-28.png);
          min-height: 40rem;
        "
      >
        <div class="p-4 align-self-start">
          <div class="text-white text-2xl font-bold mb-2">Category Title</div>
          <span class="text-white text-lg line-height-3"
            >Quis varius quam quisque id diam. A pellentesque sit amet porttitor
            eget. Vitae purus faucibus ornare suspendisse sed nisi lacus.</span
          >
        </div>
        <div class="p-4 align-self-end">
          <a
            tabindex="0"
            class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150"
            >Shop Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="grid grid-nogutter lg:flex-column">
        <div class="col-12 p-3">
          <div
            class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover bg-center h-20rem"
            style="
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
                ),
                url(assets/images/home/storefront-1-27.png);
            "
          >
            <div class="p-4 align-self-start">
              <div class="text-white text-2xl font-bold mb-2">
                Category Title
              </div>
              <span class="text-white text-lg line-height-3"
                >Quis varius quam quisque id diam</span
              >
            </div>
            <div class="p-4 align-self-end">
              <a
                tabindex="0"
                class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150"
                >Shop Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="col-12 p-3">
          <div
            class="flex flex-column justify-content-between h-full w-full border-round bg-no-repeat bg-cover bg-center h-20rem"
            style="
              background: linear-gradient(
                  0deg,
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
                ),
                url(assets/images/home/storefront-1-26.png);
            "
          >
            <div class="p-4 align-self-start">
              <div class="text-white text-2xl font-bold mb-2">
                Category Title
              </div>
              <span class="text-white text-lg line-height-3"
                >Vitae purus faucibus ornare</span
              >
            </div>
            <div class="p-4 align-self-end">
              <a
                tabindex="0"
                class="text-2xl cursor-pointer text-white flex align-items-center hover:text-primary transition-duration-150"
                >Shop Now<i class="pi pi-fw pi-arrow-right text-2xl ml-2"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap -mr-3 -ml-3">
    <div class="p-3 w-full xl:w-6">
      <div
        class="bg-no-repeat bg-cover bg-center p-3 border-round"
        style="background: url('assets/images/home/storefront-1-8.png')"
      >
        <div
          class="border-2 border-round border-white flex flex-column sm:flex-row overflow-hidden"
        >
          <div
            class="flex-1 text-center bg-white-alpha-40 font-medium"
            style="backdrop-filter: blur(15px)"
          >
            <div class="p-6 flex flex-column align-items-center text-gray-900">
              <span class="text-xl mb-5">Up To</span>
              <span class="text-xl mb-5 text-5xl"
                >25 <span class="text-xl">% OFF</span></span
              >
              <span class="text-xl">Exclusive JEWELRY</span>
            </div>
          </div>
          <div
            class="flex-1 bg-no-repeat bg-cover bg-center"
            style="
              background: url('assets/images/home/storefront-1-8.png');
              min-height: 200px;
            "
          ></div>
        </div>
      </div>
    </div>
    <div class="p-3 w-full xl:w-6">
      <div
        class="bg-no-repeat bg-cover bg-center p-3 border-round"
        style="background: url('assets/images/home/storefront-1-7.png')"
      >
        <div
          class="border-2 border-round border-white flex flex-column sm:flex-row overflow-hidden"
        >
          <div
            class="flex-1 text-center bg-white-alpha-40 font-medium"
            style="backdrop-filter: blur(15px)"
          >
            <div class="p-6 flex flex-column align-items-center text-gray-900">
              <span class="text-xl mb-5">Up To</span>
              <span class="text-xl mb-5 text-5xl"
                >25 <span class="text-xl">% OFF</span></span
              >
              <span class="text-xl">Exclusive JEWELRY</span>
            </div>
          </div>
          <div
            class="flex-1 bg-no-repeat bg-cover bg-center"
            style="
              background: url('assets/images/home/storefront-1-7.png');
              min-height: 200px;
            "
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 mx-2">
  <div class="grid border-1 surface-border border-round">
    <div
      class="col-12 md:col-6 lg:col-4 md:border-right-1 border-bottom-1 surface-border"
    >
      <div class="p-4">
        <img src="assets/images/products/product-list-6-1.png" class="w-full" />
        <div class="flex align-items-center justify-content-between mt-5 mb-3">
          <span class="text-900 font-medium text-xl">Product Name</span>
          <span
            class="bg-blue-100 text-blue-700 font-bold text-sm px-2 py-1"
            style="border-radius: 1rem"
            >NEW</span
          >
        </div>
        <span class="text-900">Brand</span>
        <div class="text-900 text-xl font-medium mt-3">$120.00</div>
      </div>
    </div>
    <div
      class="col-12 md:col-6 lg:col-4 lg:border-right-1 border-bottom-1 surface-border"
    >
      <div class="p-4">
        <img src="assets/images/products/product-list-6-2.png" class="w-full" />
        <div class="flex align-items-center justify-content-between mt-5 mb-3">
          <span class="text-900 font-medium text-xl">Product Name</span>
          <span
            class="bg-blue-100 text-blue-700 font-bold text-sm px-2 py-1"
            style="border-radius: 1rem"
            >NEW</span
          >
        </div>
        <span class="text-900">Brand</span>
        <div class="text-900 text-xl font-medium mt-3">$120.00</div>
      </div>
    </div>
    <div
      class="col-12 md:col-6 lg:col-4 md:border-right-1 lg:border-right-none border-bottom-1 surface-border"
    >
      <div class="p-4">
        <img src="assets/images/products/product-list-6-3.png" class="w-full" />
        <div class="flex align-items-center justify-content-between mt-5 mb-3">
          <span class="text-900 font-medium text-xl">Product Name</span>
          <span
            class="bg-blue-100 text-blue-700 font-bold text-sm px-2 py-1"
            style="border-radius: 1rem"
            >NEW</span
          >
        </div>
        <span class="text-900">Brand</span>
        <div class="text-900 text-xl font-medium mt-3">$120.00</div>
      </div>
    </div>
    <div
      class="col-12 md:col-6 lg:col-4 lg:border-right-1 border-bottom-1 lg:border-bottom-none surface-border"
    >
      <div class="p-4">
        <img src="assets/images/products/product-list-6-4.png" class="w-full" />
        <div class="flex align-items-center justify-content-between mt-5 mb-3">
          <span class="text-900 font-medium text-xl">Product Name</span>
          <span
            class="bg-blue-100 text-blue-700 font-bold text-sm px-2 py-1"
            style="border-radius: 1rem"
            >NEW</span
          >
        </div>
        <span class="text-900">Brand</span>
        <div class="text-900 text-xl font-medium mt-3">$120.00</div>
      </div>
    </div>
    <div
      class="col-12 md:col-6 lg:col-4 border-bottom-1 md:border-bottom-none md:border-right-1 surface-border"
    >
      <div class="p-4">
        <img src="assets/images/products/product-list-6-5.png" class="w-full" />
        <div class="flex align-items-center justify-content-between mt-5 mb-3">
          <span class="text-900 font-medium text-xl">Product Name</span>
          <span
            class="bg-blue-100 text-blue-700 font-bold text-sm px-2 py-1"
            style="border-radius: 1rem"
            >NEW</span
          >
        </div>
        <span class="text-900">Brand</span>
        <div class="text-900 text-xl font-medium mt-3">$120.00</div>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
      <div class="p-4">
        <img src="assets/images/products/product-list-6-6.png" class="w-full" />
        <div class="flex align-items-center justify-content-between mt-5 mb-3">
          <span class="text-900 font-medium text-xl">Product Name</span>
          <span
            class="bg-blue-100 text-blue-700 font-bold text-sm px-2 py-1"
            style="border-radius: 1rem"
            >NEW</span
          >
        </div>
        <span class="text-900">Brand</span>
        <div class="text-900 text-xl font-medium mt-3">$120.00</div>
      </div>
    </div>
  </div>
</div>
<div
  class="surface-50 px-4 md:px-6 lg:px-8 border-1 surface-border border-x-none"
>
  <div
    class="grid grid-nogutter flex-wrap -mr-3 -ml-3 text-center md:text-left"
  >
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Company</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >About Peak</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Factories</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Careers</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Environmental Initiatives</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none md:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Cuenta</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Manage Account</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Saved Items</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >My Cart</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Wishlist</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Orders & Returns</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 border-bottom-1 lg:border-y-none lg:border-right-1 surface-border"
    >
      <span class="text-900 text-xl block">Epysa</span>
      <ul class="list-none p-0">
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Epysa Buses</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Epysa Equipos</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Servi Bus</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Filtrans</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Mundo LCV</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Bus Market</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Implementos Perú</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Implementos España</a
          >
        </li>
        <li>
          <a
            tabindex="0"
            class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
            >Mercobus</a
          >
        </li>
      </ul>
    </div>
    <div
      class="col-12 sm:col-6 md:col-4 lg:col-3 flex flex-column mt-0 py-4 px-4 mb-4 lg:mb-0"
    >
      <span class="text-900 text-xl block">Suscríbete</span>
      <span class="text-500 block mt-4 line-height-3">
        Únete a nuestra comunidad para recibir las últimas ofertas y
        promociones.</span
      >

      <div class="p-inputgroup mt-3 mx-auto lg:mx-0" style="max-width: 30rem">
        <p-inputGroup>
          <button
            type="button"
            pButton
            icon="pi pi-envelope"
            class="text-500 surface-100 surface-border"
          ></button>
          <input type="text" pInputText placeholder="Email" />
          <button
            type="button"
            pButton
            icon="pi pi-arrow-right"
            class="text-500 surface-100 surface-border"
          ></button>
        </p-inputGroup>
      </div>
    </div>
  </div>
</div>
<div
  class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center"
>
  <div
    class="col-fixed flex justify-content-center md:justify-content-start flex-wrap flex-order-1 lg:flex-order-0"
  >
    <img
      src="assets/images/credit-cards/storefront-1-21.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Amex"
    />
    <img
      src="assets/images/credit-cards/storefront-1-22.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Apple Pay"
    />
    <img
      src="assets/images/credit-cards/storefront-1-23.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Mastercard"
    />
    <img
      src="assets/images/credit-cards/storefront-1-25.svg"
      class="w-3rem mb-3 md:mb-0 mr-3"
      alt="Visa"
    />
    <img
      src="assets/images/credit-cards/storefront-1-24.svg"
      class="w-3rem mb-3 md:mb-0"
      alt="PayPal"
    />
  </div>
  <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
    <a tabindex="0" class="cursor-pointer mr-3">
      <i
        class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"
      ></i>
    </a>
    <a tabindex="0" class="cursor-pointer mr-3">
      <i
        class="pi pi-instagram surface-900 p-1 text-sm border-circle text-0"
      ></i>
    </a>
    <a tabindex="0" class="cursor-pointer mr-3">
      <i
        class="pi pi-linkedin surface-900 p-1 text-sm border-circle text-0"
      ></i>
    </a>
  </div>
</div>
